APP_NAME=MyNestApp
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=my-secret-pw
DATABASE_NAME=my_nest_app

PEPPER=some-really-long-string-that-is-unique-to-something-or-someone
HASH_ROUNDS=10